In [35]:
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["JiraPlugin"]
print(myclient.list_database_names())

['JiraPlugin', 'admin', 'config', 'local']

In [12]:
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [13]:
mydict = { "name": "Saaj", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

6065ad85b611f62b2ea801d5

In [14]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('6065adaab611f62b2ea801d6'), ObjectId('6065adaab611f62b2ea801d7'), ObjectId('6065adaab611f62b2ea801d8'), ObjectId('6065adaab611f62b2ea801d9'), ObjectId('6065adaab611f62b2ea801da'), ObjectId('6065adaab611f62b2ea801db'), ObjectId('6065adaab611f62b2ea801dc'), ObjectId('6065adaab611f62b2ea801dd'), ObjectId('6065adaab611f62b2ea801de'), ObjectId('6065adaab611f62b2ea801df'), ObjectId('6065adaab611f62b2ea801e0'), ObjectId('6065adaab611f62b2ea801e1')]

In [15]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [16]:
x = mycol.find_one()

print(x)

{'_id': ObjectId('6065ad52b611f62b2ea801d4'), 'name': 'John', 'address': 'Highway 37'}

In [17]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('6065ad52b611f62b2ea801d4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6065ad85b611f62b2ea801d5'), 'name': 'Saaj', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6065adaab611f62b2ea801d6'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6065adaab611f62b2ea801d7'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6065adaab611f62b2ea801d8'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6065adaab611f62b2ea801d9'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6065adaab611f62b2ea801da'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6065adaab611f62b2ea801db'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6065adaab611f62b2ea801dc'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6065adaab611f62b2ea801dd'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6065adaab611f62b2ea801de'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6065adaab611f62b2ea801df'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6065adaab611f62b2ea801e0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6065adaab611f62b2ea801e1'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [18]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Saaj', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [20]:
myquery = { "name": "Saaj" }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('6065ad85b611f62b2ea801d5'), 'name': 'Saaj', 'address': 'Lowstreet 27'}

In [26]:
from pprint import pprint
mydoc = mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('6065adaab611f62b2ea801d6'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6065adaab611f62b2ea801de'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6065adaab611f62b2ea801da'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6065adaab611f62b2ea801e0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6065adaab611f62b2ea801d7'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6065ad52b611f62b2ea801d4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6065adaab611f62b2ea801d8'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6065adaab611f62b2ea801db'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6065ad85b611f62b2ea801d5'), 'name': 'Saaj', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6065adaab611f62b2ea801d9'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6065adaab611f62b2ea801dc'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6065adaab611f62b2ea801dd'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6065adaab611f62b2ea801e1'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6065adaab611f62b2ea801df'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [28]:
myquery = { "address": "Highway 37" }

mycol.delete_one(myquery)

In [29]:
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

26  documents deleted.

In [33]:
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [34]:
mycol = mydb["customers"]

myquery = { "name": "John" }
newvalues = { "$set": { "name": "Saaj" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': ObjectId('6065b108b611f62b2ea801e2'), 'name': 'Saaj', 'address': 'Highway 37'}