In [16]:
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["JiraPlugin"]
print(myclient.list_database_names())

['JiraPlugin', 'admin', 'config', 'local']

In [17]:
mycol = mydb["customers"]
mydict = { "name": "Saaj", "rank": "1" }
x = mycol.insert_one(mydict)

In [55]:
mycol = mydb["customers"]
myquery = { "name": "Noshij" }
mydoc = mycol.find(myquery)
print(mydoc.count())
for x in mydoc:
    print(x)

0

<ipython-input-55-a7cae114a430>:4: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  print(mydoc.count())

In [61]:
##achenai cheking code
mycol = mydb["customers"]
targetRank = 188
setMap = {}
setMap["rank"] = targetRank
myquery = { "name": "pop" }

if mycol.count_documents({})>0:
    mydoc = mycol.find(myquery)
    if(mydoc.count()>0):
            print("Entry exists")
            newvalues = { "$set": setMap }
            mycol.update_one(myquery, newvalues)
    else:
            print("Nooooo")
            mydict = {}
            mydict["name"]=myquery["name"]
            mydict["rank"] = targetRank
            x = mycol.insert_one(mydict)

else:
    mydict = {}
    mydict["name"]=myquery["name"]
    mydict["rank"] = targetRank
    x = mycol.insert_one(mydict)
    
#check if query exists, if not then create one 

#print "customers" after the update:
for x in mycol.find():
    print(x)

Entry exists
{'_id': ObjectId('606834aff421a32b48dec235'), 'name': 'Tahsin', 'rank': 10}
{'_id': ObjectId('606835b3f421a32b48dec238'), 'name': 'Saaj', 'rank': 9}
{'_id': ObjectId('60683741f421a32b48dec239'), 'name': 'pop', 'rank': 188}

<ipython-input-61-a5332ba5a980>:9: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  if(mydoc.count()>0):

In [31]:
myquery = { "name": "Saaj" }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(mydoc.count_documents)
if "Saaj" in mydoc:
    print("The name exists.")

AttributeError: 'Cursor' object has no attribute 'count_documents'

In [4]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('60682d83f421a32b48dec225'), ObjectId('60682d83f421a32b48dec226'), ObjectId('60682d83f421a32b48dec227'), ObjectId('60682d83f421a32b48dec228'), ObjectId('60682d83f421a32b48dec229'), ObjectId('60682d83f421a32b48dec22a'), ObjectId('60682d83f421a32b48dec22b'), ObjectId('60682d83f421a32b48dec22c'), ObjectId('60682d83f421a32b48dec22d'), ObjectId('60682d83f421a32b48dec22e'), ObjectId('60682d83f421a32b48dec22f'), ObjectId('60682d83f421a32b48dec230')]

In [5]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [6]:
x = mycol.find_one()

print(x)

{'_id': ObjectId('6065b108b611f62b2ea801e2'), 'name': 'Saaj', 'address': 'Highway 37'}

In [7]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('6065b108b611f62b2ea801e2'), 'name': 'Saaj', 'address': 'Highway 37'}
{'_id': ObjectId('60682d82f421a32b48dec223'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60682d82f421a32b48dec224'), 'name': 'Saaj', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60682d83f421a32b48dec225'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60682d83f421a32b48dec226'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('60682d83f421a32b48dec227'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60682d83f421a32b48dec228'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60682d83f421a32b48dec229'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('60682d83f421a32b48dec22a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60682d83f421a32b48dec22b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60682d83f421a32b48dec22c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60682d83f421a32b48dec22d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60682d83f421a32b48dec22e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('60682d83f421a32b48dec22f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60682d83f421a32b48dec230'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [8]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'Saaj', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Saaj', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [9]:
myquery = { "name": "Saaj" }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('6065b108b611f62b2ea801e2'), 'name': 'Saaj', 'address': 'Highway 37'}
{'_id': ObjectId('60682d82f421a32b48dec224'), 'name': 'Saaj', 'address': 'Lowstreet 27'}

In [10]:
from pprint import pprint
mydoc = mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('60682d83f421a32b48dec225'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60682d83f421a32b48dec22d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60682d83f421a32b48dec229'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('60682d83f421a32b48dec22f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60682d83f421a32b48dec226'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('60682d82f421a32b48dec223'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60682d83f421a32b48dec227'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60682d83f421a32b48dec22a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6065b108b611f62b2ea801e2'), 'name': 'Saaj', 'address': 'Highway 37'}
{'_id': ObjectId('60682d82f421a32b48dec224'), 'name': 'Saaj', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60682d83f421a32b48dec228'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60682d83f421a32b48dec22b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60682d83f421a32b48dec22c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60682d83f421a32b48dec230'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('60682d83f421a32b48dec22e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [15]:
myquery = { "name": "Betty" }
newvalues = { "$set": { "address": "lol 123" } }

mycol.update_many(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

{'_id': ObjectId('6065b108b611f62b2ea801e2'), 'name': 'Saaj', 'address': 'lol 123'}
{'_id': ObjectId('60682d82f421a32b48dec223'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60682d82f421a32b48dec224'), 'name': 'Saaj', 'address': 'lol 123'}
{'_id': ObjectId('60682d83f421a32b48dec225'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60682d83f421a32b48dec226'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('60682d83f421a32b48dec227'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('60682d83f421a32b48dec228'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60682d83f421a32b48dec229'), 'name': 'Betty', 'address': 'lol 123'}
{'_id': ObjectId('60682d83f421a32b48dec22a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60682d83f421a32b48dec22b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60682d83f421a32b48dec22c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60682d83f421a32b48dec22d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60682d83f421a32b48dec22e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('60682d83f421a32b48dec22f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60682d83f421a32b48dec230'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'lol 123'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [28]:
myquery = { "address": "Highway 37" }

mycol.delete_one(myquery)

In [29]:
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

26  documents deleted.

In [33]:
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [34]:
mycol = mydb["customers"]

myquery = { "name": "John" }
newvalues = { "$set": { "name": "Saaj" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': ObjectId('6065b108b611f62b2ea801e2'), 'name': 'Saaj', 'address': 'Highway 37'}

In [ ]:
#assignee_terms_map - dictionary
#{'Moumita Asad': ['write', 'icse', 'paper'], 'Noshin Tahsin': ['regression','atlassian']}
#for db insertion i need a list of individual dictionaries

db_assignee_terms_list = []
for key in assignee_terms_map:
    temp_dict={}
    temp_dict['name'] = key
    temp_dict['terms'] = assignee_terms_map[key]
    db_assignee_terms_list.append(temp_dict)

print("db_assignee_terms_list: ")
print(db_assignee_terms_list)

#mongo - collection - AssigneeTermsMap
#{'name': 'Moumita Asad', 'terms': '['write', 'icse', 'paper']}
mycol = mydb["AssigneeTermsMap"]
setMap = {}

if mycol.count_documents({})>0:
    for i in range(0,len(db_assignee_terms_list)):
        myquery = {}
        myquery["name"] = db_assignee_terms_list[i]["name"]
            
        mydoc = mycol.find(myquery)
        if(mydoc.count()>0):
            print("Entry exists")
            #update expertise/terms list
            setMap["terms"] = db_assignee_terms_list[i]["terms"]
            newvalues = { "$set": setMap }
            mycol.update_one(myquery, newvalues)
                  
        else:
            print("Entry doesn't exist")
            mydict = {}
            mydict["name"] = myquery["name"]
            mydict["terms"] = db_assignee_terms_list[i]["terms"]
            x = mycol.insert_one(mydict)

else:
        print("No document yet in this collection.")
        x = mycol.insert_many(db_assignee_terms_list)
    
    #check if query exists, if not then create one 

#print "AssigneeTermsMap" after the update:
for x in mycol.find():
    print(x)

In [ ]:
#assignee_terms_map - dictionary
#{'Moumita Asad': ['write', 'icse', 'paper'], 'Noshin Tahsin': ['regression','atlassian']}
#for db insertion i need a list of individual dictionaries

db_assignee_terms_list = []
for key in assignee_terms_map:
    temp_dict={}
    temp_dict['name'] = key
    temp_dict['terms'] = assignee_terms_map[key]
    db_assignee_terms_list.append(temp_dict)

print("db_assignee_terms_list: ")
print(db_assignee_terms_list)

#mongo - collection - AssigneeTermsMap
#{'name': 'Moumita Asad', 'terms': '['write', 'icse', 'paper']}
mycol = mydb["AssigneeTermsMap"]
setMap = {}

if mycol.count_documents({})>0:
    for i in range(0,len(db_assignee_terms_list)):
        myquery = {}
        myquery["name"] = db_assignee_terms_list[i]["name"]
            
        mydoc = mycol.find(myquery)
        if(mydoc.count()>0):
            print("Entry exists")
            #update expertise/terms list
            setMap["terms"] = db_assignee_terms_list[i]["terms"]
            newvalues = { "$set": setMap }
            mycol.update_one(myquery, newvalues)
                  
        else:
            print("Entry doesn't exist")
            mydict = {}
            mydict["name"] = myquery["name"]
            mydict["terms"] = db_assignee_terms_list[i]["terms"]
            x = mycol.insert_one(mydict)

else:
        print("No document yet in this collection.")
        x = mycol.insert_many(db_assignee_terms_list)
    
    #check if query exists, if not then create one 

#print "AssigneeTermsMap" after the update:
for x in mycol.find():
    print(x)